# Full path to daemon
DAEMON=/usr/bin/rrdcached
BASE_OPTIONS="{{ rrdcached_base_options }}"
BASE_PATH={{ rrdcached_base_path }}
DAEMON_GROUP={{ rrdcached_daemon_group }}
DAEMON_USER{{ rrdcached_daemon_user }}
JOURNAL_PATH={{ rrdcached_journal_path }}
SOCKFILE={{ rrdcached_socket_file }}
SOCKMODE={{ rrdcached_socket_mode }}
SOCKGROUP={{ rrdcached_socket_group }}
PIDFILE={{ rrdcached_pid_file }}
WRITE_TIMEOUT={{ rrdcached_write_timeout }}
WRITE_JITTER={{ rrdcached_write_jitter }}
WRITE_THREADS={{ rrdcached_write_threads }}
#NETWORK_OPTIONS="-L"
{% if rrdcached_network_listen_on_all_interfaces %}
NETWORK_OPTIONS="-L"
{% elif rrdcached_network_listen_addresses %}
NETWORK_OPTIONS="{% for addr in rrdcached_network_listen_addresses %}-l {{ addr }} {% endfor %}"
{% endif %}
